:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --hero-button-hover-color: #188ce8;
  --primary-bg-color: #fff;
  --color-studio: #000;
  --our-team-bg-color: #f5f4fa;
  --footer-contact-link: rgba(255, 255, 255, 0.6);
  --primary-second-bg-color: #2f303a;
  --portfolio-border-color: #eee;
  --header-border-color: #ececec;
  --social-icons-color: #afb1b8;
}
body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}

/* Шапка */

.header-container {
  display: flex;
  align-items: center;
}
.header-border {
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.color-web {
  color: var(--accent-color);
}
.color-studio {
  color: var(--color-studio);
}

/* Навигация */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .site-link:hover,
.site-nav .site-link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/* Контакты */
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
  margin-left: 50px;
}

.contact-icon,
.second-contact-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.contact-icon:hover,
.contact-icon:focus {
  fill: var(--accent-color);
}
.second-contact-icon:hover,
.second-contact-icon:focus {
  fill: var(--accent-color);
}
.contact .contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link {
  display: flex;
  align-items: center;
}

/* Герой */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Секции */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding {
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Особенности */

.great {
  display: none;
}

.great-section {
  display: flex;
  justify-content: space-between;
}
.great-item {
  max-width: 270px;
}
.features-text {
  font-size: 14px;
  line-height: 2;
  margin: 0;
}
/* .section-grate-border svg {
  border: 1px solid var(--social-icons-color);
  width: 270px;
  height: 120px;
} */
.great-icons {
  display: inline-flex;
  align-items: center;
  fill: var(--social-icons-color);
  margin-bottom: 30px;
  background: var(--our-team-bg-color);
  border-radius: 4px;
}
.great-icons li:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}
.great-icon {
  justify-content: center;
  display: block;
}

.client-icons {
  display: inline-flex;
  align-items: center;
  fill: var(--social-icons-color);
}
.client-icons li:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}
.client {
  justify-content: center;
}
.client:hover {
  fill: var(--accent-color);
}

.section-border svg {
  border: 1px solid var(--social-icons-color);
  width: 170px;
  height: 92px;
}

/* Чем мы занимаемся */

.we-do-section {
  display: flex;
}
.we-do-section .item + .item {
  margin-left: 30px;
}

/* Наша команда  */

.our-team-bg-color {
  background: var(--our-team-bg-color);
}
.our-team {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.our-team-prof {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}
.our-team-section {
  display: flex;
  justify-content: space-between;
}

.team-item {
  background-color: var(--primary-bg-color);
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 0px 0px 4px 4px;
}
.team-icon {
  justify-content: center;

  fill: var(--social-icons-color);

  width: 44px;
  height: 44px;
}
.team-icon:hover {
  fill: var(--accent-color);
}
.team-contact-icon {
  display: inline-flex;

  margin-top: 16px;
  margin-bottom: 30px;
}
.team-contact-icon li:not(:nth-last-child(-n + 1)) {
  margin-right: 10px;
}

/*  Постоянные  клиенты */

.client-icons {
  display: inline-flex;
  align-items: center;
  fill: var(--social-icons-color);
}
.client-icons li:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}
.client {
  justify-content: center;
}
.client:hover {
  fill: var(--accent-color);
}

.section-border svg {
  border: 1px solid var(--social-icons-color);
  width: 170px;
  height: 92px;
}
/* Подвал */

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-padding {
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-margin {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
}
.second-color-studio {
  color: var(--primary-bg-color);
}

.footer-address {
  margin-top: 0;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-link {
  color: var(--footer-contact-link);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* Кнопка */

.button {
  display: inline-block;
  box-sizing: border-box;
  border: 0px solid transparent;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--hero-button-hover-color);
}
.primacy-second-bg-color {
  background-color: var(--primary-second-bg-color);
}

/* Портфолио */

/* Фильтры и Проекты */

.filters-title {
  display: none;
  border-top: 1px solid var(--header-border-color);
}

.filter-project {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-border {
  border: 1px solid var(--portfolio-border-color);
}

.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.filter-item:nth-child(3n) {
  margin-right: 0px;
}
.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-subtitle {
  max-width: 322px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 24px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin-bottom: 20px;
  margin-top: 4px;
  margin-left: 24px;
  max-width: 322px;

  font-size: 16px;
  line-height: 1.88;
}

/* Кнопки */

.portfolio-buttons {
  box-sizing: border-box;
  min-width: 73px;
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;

  color: var(--secondary-text-color);
  background-color: var(--our-team-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.filters-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.filters-button .item + .item {
  margin-left: 8px;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}
